.browse-card {
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.browse-card-title {
  font-size: 22px;
  padding: 16px;
  margin: 0;
  position: absolute;
  z-index: 1;
}

.browse-card-image {
  width: 100px;
  height: 100px;
  position: absolute;
  right: -20px;
  bottom: 0;
  transform: rotate(25deg);
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}