.card-container {
  background-color: #181818;
  border-radius: 8px;
  padding: 16px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

.card-container:hover {
  background-color: #282828;
}

.card-container:hover .play-icon-container {
  opacity: 1;
  transform: translateY(0);
}

.card-image {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  margin-bottom: 16px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin: 0 0 4px 0;
  /* Trunca el texto si es muy largo */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-description {
  font-size: 14px;
  color: #b3b3b3;
  margin: 0;
  /* Trunca el texto si es muy largo */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.play-icon-container {
  position: absolute;
  bottom: 90px;
  right: 24px;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.play-icon {
  background-color: #1db954;
  color: #000;
  font-size: 24px;
  padding: 12px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}